<div class="container align-middle">
<h1>Ask to the coach</h1>
<form action="answer" data-turbo="false" placeholder="message">
  <input type="text" name="nom">
  <input type="submit" value="Ask!">
</form>
</div>
